.container {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 100 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  opacity: .5;
  color: #fff;
  font-size: 1em;
}