.user {
  width: 100%;
  .content {
    width: 100%;
    .tab {
      display: flex;
      justify-content: space-around;
      line-height: 94px;
      font-size: .8em;
      border-bottom: 2px solid #f0f0f0;
      color: #999999;
      .tab_items {
        width: 100%;
        text-align: center;
      }
      .active {
        color: #000;
        border-bottom: 6px solid #3598db;
        //transition: all .2s linear;
      }
    }
  }
}