.back,
.login,
.avatar {
  position: fixed;
  left: 30px;
  bottom: 40px;
  z-index: 100 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  opacity: .5;
  color: #fff;
  font-size: 1.2em;
}

.avatar {
  img {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    border: 4px solid yellow;
    border-radius: 50%;
    overflow: hidden;
  }
}