.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  border-bottom: 1px solid #f9f9f9;
  .left {
    width: 14%;
    .avatar {
      width: 74px;
      height: 74px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 8px;
        border: none;
        border-radius: 50%;
      }
    }
    .floor {
      width: 74px;
      margin: 20px auto 0;
      font-size: .8em;
      color: #cccccc;
    }
  }
  .right {
    width: 86%;
    .info {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      font-size: 14px;
      color: #cccccc;
    }
    .text {
      padding: 2px 0;
      color: #fff;
      line-height: 14px;
      font-size: 12px;
    }
    .event {
      display: flex;
      justify-content: space-between;
      i {
        font-size: 1em;
        color: #cccccc;
      }
    }
  }
}