.container {
  width: 100%;
  height: 200px;
  padding: 50px 0 10px;

  .wrapper {
    height: 158px;
    position: relative;
    .write,
    .set{
      position: absolute;
      top: 40px;
      color: #dfdbdb;
      i {
        font-size: 48px;
      }
    }
    .write {
      left: 120px;
    }
    .set {
      right: 120px;
    }
    .avatar {
      position: absolute;
      top: 0;
      left: calc(50% - 150px);
      width: 300px;
      margin: 0 auto;
      img {
        display: block;
        width: 100px;
        height: 100px;
        margin:  0 auto;
        border-radius: 50%;
        border: none;
      }
      .name {
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        color: #dfdbdb;
        font-size: .9em;

      }
    }
  }
  .webInfo {
    margin-top: 18px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    color: #dfdbdb;
    font-size: .6em;
  }
}


//dialog styles
.setDialog {
  width: 600px;
  border-radius: 8px;
  background-color: #242424;
  .header,
  .about,
  .out {
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    i {
      margin: 0 60px;
      color: #8c8c8c;
    }
    div {
      color: #bcbcbc;
      font-size: .8em;
    }
  }
  .header {
    background-color: #141414;
  }
  .out {
    i,
    div {
      color: #e84c35;
    }
  }
  .close {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #fff;
      font-size: 1.4em;
    }
  }
}

.aboutDialog {
  width: 600px;
  border-radius: 8px;
  background-color: #242424;
  div {
    line-height: 60px;
    display: flex;
    justify-content: center;
    color: #bcbcbc;
    a {
      color: #fff;
      text-decoration: none;
      margin: 0 8px;
      font-weight: bold;
    }
  }
  .createBy {
    font-size: 1em;
  }
  .name {
    font-size: 1.4em;
  }
  .describe {
    font-size: .8em;
  }
}